/* COLORS I LIKE */

/*

body {
    background: #181818;
}


section.about a {
    color: #b4a892!important;
}


p {
    color: #d7d7d7;
}


section.contact {
    background-color: #d7d7d7;
}


.button {
	color: #4f4e4b;
}


.logo {
	color: #d6d6d6;
}


.header h1 {
	color: #d7d7d7;
}


*/




body{
	font-family: 'Open Sans', sans-serif;
}

.uppercase{
	text-transform: uppercase;
}
/*navbar*/
.navbar-brand{
	font-size: 35px;
	color:#fff;
}

.navbar-inverse {
    background-color: #2220;
    border-color: #08080800;
}

.navbar-brand span{
	font-weight: bold;
	color: #989271;

}

.navbar-inverse .navbar-nav>li>a:hover{
    font-weight: bold;
}

/*header*/
.header{
	
	background: url("../img/jeans.jpg") no-repeat top center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	position:relative;
	height:100vh ;
	color:#fff;
  overflow: hidden;
	}





.header .overlay{
	padding-top: 100px;
	position:absolute;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
}


	
.header h1{
	font-weight: normal;
	font-size: 70px;
	margin-bottom: -5px;
	margin-top: -3px;
	margin-left: 25px;
}

@media(max-width: 991px){
  .header h1{
  	margin-top: -50px;
    margin-left: 40px;
  	font-size: 40px;
 }
}

.header h1 span{
	font-weight: bold;
	color: #989271;
} 

.header h1~.lead{
	font-size: 30px;

}

@media(max-width: 991px){
  .header h1~.lead{
  font-size: 20px;
  margin: -6px auto -15;

}
}

.header h1~.lead:after{
	content: '';
	width: 60px;
	height: 3px;
	background-color:#fff;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}



@media (max-width: 991px){
 .header h1~.lead:after{
  margin:20px auto;
 }
}

.header button{
	background:transparent;
	padding:10px 20px;
	border:3px solid #fff;
	margin-top: 30px; 
}

@media (max-width: 991px){
  .header button{
  display: block;
  margin: 15px auto;
}
}


.center-block {
    display: block;
    margin-right: auto;
    margin-left: 45px;
    width: 50%;
}


.shop{
	padding-top: 150px;
}

.shop .col-md-3{
	max-width: 25%;
	text-align: center;
	float: left;
}

@media (max-width: 991px){
	.shop .col-md-3{
		max-width: 33.333333%;
	}
}

@media (max-width: 767px){
	.shop .col-md-3{
		max-width: 50%;
	}
}

@media (max-width: 480px){
	.shop .col-md-3{
		max-width: 100%;
	}
}


.shop p{
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	
}

.shop b {
	padding-top: 10px;
}

.header-line-center {
	text-align: center;
}

.header-line-center:after{
  content: '';
  width: 60px;
  height: 3px;
  background-color:#b4a892;
  display: block;
  margin:30px auto;
   }

.shop .h1 {
 	padding-bottom: 100px;
 }  

.shop button {
    background: #b4a89200;
    padding: 10px 20px;
    border: 1px solid #080808;
    margin-top: 10px;
    margin-bottom: 70px;
    color: #080808;
    border-radius: 0px;
    font-weight: bold;
}


/*start team*/
.team {
    text-align: center;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 150px;
}
.team .header-line-center:after {
  margin-bottom: 100px;
}
.team .card {
    text-align: center;
    float: left;
    width: 31.333%;
    background-color: #9892710a;
    margin-right: 1%;
    margin-left: 1%;
    padding: 2px 2px 29px;
}
@media(max-width: 991px){
  .team .card{
    text-align: center;
    float: left;
  }
}
@media(max-width: 600px){
  .team .card{
    width: 80%;
    margin: 52px 10% 52px;
    padding: 2px 2px 40px;
  }
}
.team .card h2{
  text-align: center;
}
.team .card p{
  text-align: center;
}


.team img {
    display: block;
    margin-right: auto;
    text-align: center;
}


.team button {
    background: #b4a89200;
    padding: 10px 20px;
    border: 1px solid #080808;
    margin-top: 10px;
    color: #080808;
    border-radius: 0px;
    font-weight: bold;
}


/*start contact us*/
.contact-us{
  margin-top: 20px;
  padding: 80px 0;
  background-color: #fff;
}

.coentact-head{
  margin-top: 30px;
}

.contact-us .contact-desc{
  color: #a9aaac;
  margin-bottom: 30px;
}

.contact-us .contact-btn{
  margin:30px auto;
  display: block;
  padding: 8px 20px;
  border: 2px solid #fff;
  background-color: #989271;
  color: #fff;
  border-radius: 0px;
  font-size: 18px;
  font-weight: bold;

}


.form-control{
  height: 66px;
  border:none;
  border-radius:0;
  box-shadow: none;
  border-bottom: 1px solid #f5f5f5;

}

textarea.form-control{
  height: 197px;
}


/*start checkout*/
.checkout  {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 80px -16px;
  margin-top: 50px
  margin-bottom: 50px;
}

.checkout .col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.checkout .col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.checkout .col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.checkout .col-25,
.checkout .col-50,
.checkout .col-75 {
  padding: 0 16px;
}

.checkout .container {
    background-color: #ffffff;
    padding: 5px 20px 15px 20px;
    border: 1px solid #d3d3d359;
    border-radius: 3px;
}

.checkout input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkout label {
  margin-bottom: 10px;
  display: block;
}

.checkout .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkout .btn {
  background-color: #989271;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkout .btn:hover {
  background-color: #000000;
}

.checkout span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .checkout  {
    flex-direction: column-reverse;
  }
  .checkout .col-25 {
    margin-bottom: 20px;
  }
}



/*scroll top*/
.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #333;
    text-align: center;
    color: #fff;
    z-index: 9;
}
.scroll-top i {
    color: #fff;
    font-size: 48px;
}



.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 80px, 0);
        -ms-transform: translate3d(0, 80px, 0);
        transform: translate3d(0, 80px, 0)
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

/*Parallax Move*/
.parallax-move{
    overflow: hidden;
}
.parallax-move img {
  position: relative;
  z-index: 4;
  max-width: 100%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.2s ease-out;
  -moz-transition: opacity 0.3s ease-out, -moz-transform 0.2s ease-out;
  -o-transition: opacity 0.3s ease-out, -o-transform 0.2s ease-out;
  transition: opacity 0.3s ease-out, transform 0.2s ease-out;
}


/*START FOOTER*/
.footer{
  background-color: #000000;
  color: #989271;
  padding: 20px;
  font-size: 20px;

}
.footer span{
  font-weight: bold;
}
.footer a{
  color: #b4a892;
}



